.note-item {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;
  margin: 20px 0;
  color: #000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-right: 2px solid rgb(101, 24, 121);
  border-radius: 5px;
  overflow: visible;
  z-index: 1;

  .edit-note {
    min-height: 20px;
    min-width: 20px;
    margin: 0 10px;
    z-index: 2;
  }

  .details-container {
    display: flex;
    align-items: center;
    width: 90%;
    height: 100%;
    font-weight: 300;
  }

  .cancel-btn {
    height: 25px;
    width: 25px;
    fill: rgb(199, 39, 39);
    z-index: 2;
    margin: 0 10px;
  }
}
