.todo-item {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  min-height: 50px;
  margin: 15px 0;
  background-color: white;
  border-radius: 5px;
  color: #222;

  .circle-todo {
    min-height: 20px;
    min-width: 20px;
    margin: 0 10px;
    border-radius: 50%;
    transition: all 0.2s ease;
    z-index: 2;

    &:active {
      background-color: #50d8af;
    }
  }

  // Border left color for every n even and odd list item
  &:nth-child(1n) {
    border-left: 2px solid #50d8af;

    .circle-todo {
      fill: #50d8af;

      &:active {
        background-color: #50d8af;
      }
    }
  }

  &:nth-child(2n) {
    border-left: 2px solid #f14090;

    .circle-todo {
      fill: #f14090;
      
      &:active {
        background-color: #f14090;
      }
    }
  }

  &:nth-child(3n) {
    border-left: 2px solid #87ddda;

    .circle-todo {
      fill: #87ddda;

      &:active {
        background-color: #87ddda;
      }
    }
  }

  &:nth-child(4n) {
    border-left: 2px solid #ffd475;

    .circle-todo {
      fill: #ffd475;

      &:active {
        background-color: #ffd475;
      }
    }
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100px;
    display: block;
    background: rgba(195, 195, 195, 0.9);
    transition: all 500ms ease-in-out;
  }

  &.completed:after {
    width: 100%;
  }
}
