.details-header {
  height: 240px;
  z-index: 2;
  background-color: rgba(6, 11, 85, 0.418);

  h3 {
    padding-top: 10px;
    text-align: center;
    color: #efefef;
    font-weight: 300;

    .secondary-color {
      color: #50D8AF;
    }
  }
}