.notes-list {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100vh;
  padding: 20px 20px;
  overflow: scroll;
  
  .notes-list-container {
    margin-bottom: 120px;
    height: 100%;
    width: 100%;
    
    @media screen and (min-width: 800px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }

  .title {
    color: #333333;
  }

  .empty-message {
    position: absolute;
    top: 150px;
    width: 100%;
    text-align: center;
    font-weight: 400;
    color: #444;
    padding-right: 40px;
  }
}
