$primary-color: #0C2E8A;
$secondary-color: #50D8AF;

html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  background-image: linear-gradient(to bottom, $primary-color 30%,rgb(18, 107, 143), $secondary-color);
  background-repeat: no-repeat;
  color: #efefef;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  overflow: hidden;
  list-style: none;
}

a {
  text-decoration: none;
}